* {
  box-sizing: border-box;
}

body {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

label,
input,
textarea,
button {
  display: block;
  margin-top: 10px;
}

.marketingCheckbox {
  display: flex;
  align-items: center;
}

/* All inputs other than checkboxes & radios
 * should be block display so they sit on a new line
 */
input:not([type="checkbox"]):not([type="radio"]),
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}
